global { 
	color: #385072;
	theme-color: haloSilver;
}

Alert {
	font-size: 14px;
}

Application {
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

Panel {
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #E2E2E2;
	header-colors: #415D85, #5E7EAB;
	border-alpha: 1.0;
	titleStyleName: "whiteTitle";
	vertical-gap: 15px;
}

.pickerInputBorder {
	border-style: "solid";
	border-color: #CCCCCC;
	border-thickness: 0.5;
}

.jobDetailBG {
	padding-left: 5px;
	color: #666666;
	background-image: Embed(source="../skin/images/job_detail_bg.swf");
	background-size: "100%";
	border-style: solid;
	border-color: #666666;
	border-thickness: 1px;
}

.smallPadding {
	background-color: #EEEEEE;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 0px;
	border-thickness-left: 0px;
	border-thickness-top: 0px;
	border-thickness-bottom: 0px;
	border-thickness-right: 0px;
}

.formTextLink {
	height: 15px;
	font-weight: none;
	text-decoration: underline;
}

.jobBox {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.sideBox {
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	border-thickness: 1;
	corner-radius: 10px;
}

.cutScreenBox {
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	border-thickness: 1;
}

.jobPanel {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	vertical-gap: 5px;
	border-thickness-bottom: 0px;
	border-thickness-left: 0px;
	border-thickness-right: 0px;
	border-thickness-top: 0px;
}

.blueBox {
	background-color: #9d9d9d;
	border-style: "solid";
	border-color: #666666;
	color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	horizontal-align: "center";
	vertical-align: "middle";
}

.invisibleTextAreaBorders {
	border-style: "none";
	background-alpha: 0.0;
}

.jobDetailBoxStyle {
	border-style: "none";
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 10px;
	background-color: #000000;
	background-alpha: 0.10;
}

.floatingBoxStyle {
	border-style: "none";
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #000000;
	background-alpha: 0.10;
}

.whiteTitle {
	color: #FFFFFF;
	font-weight: bold;
}

.largeWhiteTitle {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14;
}

.jumboHeader {
	font-size: 17;
	font-weight: "bold";
}

.h1 {
	font-size: 14;
	font-weight: "bold";
}

.h2 {
	font-size: 13;
	font-weight: "bold";
}

.noPadding {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.center {
	vertical-align: "middle";
	horizontal-align: "center";
}

.jumboButton {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 15px;
}

.commitButton {
	disabledSkin: Embed(source="../skin/images/commit_up.swf");
	downSkin: Embed(source="../skin/images/commit_down.swf");
	overSkin: Embed(source="../skin/images/commit_over.swf");
	upSkin: Embed(source="../skin/images/commit_up.swf");
	selectedOverSkin: Embed(source="../skin/images/commit_over.swf");
	selectedDownSkin: Embed(source="../skin/images/commit_down.swf");
	selectedUpSkin: Embed(source="../skin/images/commit_up.swf");
}

.consultantButton {
	disabledSkin: Embed(source="../skin/images/consultant_up.swf");
	downSkin: Embed(source="../skin/images/consultant_down.swf");
	overSkin: Embed(source="../skin/images/consultant_over.swf");
	upSkin: Embed(source="../skin/images/consultant_up.swf");
	selectedOverSkin: Embed(source="../skin/images/consultant_over.swf");
	selectedDownSkin: Embed(source="../skin/images/consultant_down.swf");
	selectedUpSkin: Embed(source="../skin/images/consultant_up.swf");
}

.graphButton {
	disabledSkin: Embed(source="../skin/images/graph_up.swf");
	downSkin: Embed(source="../skin/images/graph_down.swf");
	overSkin: Embed(source="../skin/images/graph_over.swf");
	upSkin: Embed(source="../skin/images/graph_up.swf");
	selectedOverSkin: Embed(source="../skin/images/graph_over.swf");
	selectedDownSkin: Embed(source="../skin/images/graph_down.swf");
	selectedUpSkin: Embed(source="../skin/images/graph_up.swf");
}

.helpButton {
	disabledSkin: Embed(source="../skin/images/help_up.swf");
	downSkin: Embed(source="../skin/images/help_down.swf");
	overSkin: Embed(source="../skin/images/help_over.swf");
	upSkin: Embed(source="../skin/images/help_up.swf");
	selectedOverSkin: Embed(source="../skin/images/help_over.swf");
	selectedDownSkin: Embed(source="../skin/images/help_down.swf");
	selectedUpSkin: Embed(source="../skin/images/help_up.swf");
}

.replayButton {
	disabledSkin: Embed(source="../skin/images/replay_up.swf");
	downSkin: Embed(source="../skin/images/replay_down.swf");
	overSkin: Embed(source="../skin/images/replay_over.swf");
	upSkin: Embed(source="../skin/images/replay_up.swf");
	selectedOverSkin: Embed(source="../skin/images/replay_over.swf");
	selectedDownSkin: Embed(source="../skin/images/replay_down.swf");
	selectedUpSkin: Embed(source="../skin/images/replay_up.swf");
}

.switchButton {
	disabledSkin: Embed(source="../skin/images/switch_up.swf");
	downSkin: Embed(source="../skin/images/switch_down.swf");
	overSkin: Embed(source="../skin/images/switch_over.swf");
	upSkin: Embed(source="../skin/images/switch_up.swf");
	selectedOverSkin: Embed(source="../skin/images/switch_over.swf");
	selectedDownSkin: Embed(source="../skin/images/switch_down.swf");
	selectedUpSkin: Embed(source="../skin/images/switch_up.swf");
}

.descriptionButton {
	disabledSkin: Embed(source="../skin/images/description_up.swf");
	downSkin: Embed(source="../skin/images/description_down.swf");
	overSkin: Embed(source="../skin/images/description_over.swf");
	upSkin: Embed(source="../skin/images/description_up.swf");
	selectedOverSkin: Embed(source="../skin/images/description_over.swf");
	selectedDownSkin: Embed(source="../skin/images/description_down.swf");
	selectedUpSkin: Embed(source="../skin/images/description_up.swf");
}


.genericButton {
	disabledSkin: Embed(source="../skin/images/generic_button_up.swf");
	downSkin: Embed(source="../skin/images/generic_button_down.swf");
	overSkin: Embed(source="../skin/images/generic_button_over.swf");
	upSkin: Embed(source="../skin/images/generic_button_up.swf");
	selectedOverSkin: Embed(source="../skin/images/generic_button_over.swf");
	selectedDownSkin: Embed(source="../skin/images/generic_button_down.swf");
	selectedUpSkin: Embed(source="../skin/images/generic_button_up.swf");
}

.coolerButton {
	disabledSkin: Embed(source="../skin/images/cooler_up.swf");
	downSkin: Embed(source="../skin/images/cooler_down.swf");
	overSkin: Embed(source="../skin/images/cooler_over.swf");
	upSkin: Embed(source="../skin/images/cooler_up.swf");
	selectedOverSkin: Embed(source="../skin/images/cooler_selected.swf");
	selectedDownSkin: Embed(source="../skin/images/cooler_selected.swf");
	selectedUpSkin: Embed(source="../skin/images/cooler_selected.swf");
}

.supportsButton {
	disabledSkin: Embed(source="../skin/images/supports_up.swf");
	downSkin: Embed(source="../skin/images/supports_down.swf");
	overSkin: Embed(source="../skin/images/supports_over.swf");
	upSkin: Embed(source="../skin/images/supports_up.swf");
	selectedOverSkin: Embed(source="../skin/images/supports_selected.swf");
	selectedDownSkin: Embed(source="../skin/images/supports_selected.swf");
	selectedUpSkin: Embed(source="../skin/images/supports_selected.swf");
}

@font-face {
    src:url("../lib/LCD-BOLD.TTF");
    fontWeight: bold;
    fontFamily: LCDFont;
}

.meterLCDStyle {
	fontFamily: LCDFont;
    fontWeight: bold;
	fontSize: 30px;
	color: red;
	backgroundColor: #000000;
}
