<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DesktopClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
    </configSections>
	<appSettings>
		<add key="DataDir" value="C:\Projects\CoolIt\server\CoolIt_Service\Data"/>
		<add key="SchemaDir" value="C:\Projects\CoolIt\server\CoolIt_Service\\Schema"/>
	</appSettings>
 <applicationSettings>
  <DesktopClient.Properties.Settings>
   <setting name="DesktopClient_CoolIt_Service_CoolIt_Service" serializeAs="String">
    <value>http://localhost:58801/CoolIt_Service.asmx</value>
   </setting>
  </DesktopClient.Properties.Settings>
 </applicationSettings>
</configuration>